body {
    justify-content: center;
    align-items: center;
    background-image: url('Media/BG2.jpg');
    font-family: 'Poppins', sans-serif;
  }

  nav {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  #product1 {
      text-align: center;
  }

  #product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }

  #product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
  }

  #product1 .pro img{
      width: 100%;
      border-radius: 20px;
  }

  #product1 .pro .des{
      text-align: start;
      padding: 10px 0;
  }

  #product1 .pro .des span{
      color: #00374b;
      font-size: 12px;
  }

  #product1 .pro .des h5 {
      padding: 0;
      color: black;
      font-size: 14px;
      margin-bottom: 0;
  }

  #product1 .pro .des i {
      font-size: 12px;
      color: rgb(212, 255, 85);
  }

  #product1 .pro .des h4 {
      padding-top: 7px;
      font-size: 15px;
      font-weight: 700;
      color: #088178;
      margin: 0;
  }

  #product1 .pro .des .cart {
    width: 30px;
    height: 30px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    color: #088178;
    position: absolute;
    bottom: 20px;
    right: 10px;
  }   

  #banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(Media/BG.jpg);
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
  }

  #banner h4 {
    color: #fff;
    font-size: 16px;
  }

  #banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
  }

  #banner h2 span {
    color: red;
  }

  .section-m1 {
    margin: 40px 0;
  }

  button.normal  {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
  }

  #banner button:hover {
    background-color: #00374b;
    color: #fff;
  }

  .footer {
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      margin-top: 50px;
      height: auto;
  }

  .footer-container {
      padding-top: 20px;
      width: 100%;
      height: auto;
      margin: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
  }

  .footer-content {
      align-self: center;
      width: 30%;
      color: #fff;
  }

  .footer-content h3 {
      font-size: 20px;
      margin-bottom: 15px;
      text-align: center;
      color: #6c6c6c;
      text-shadow: 2px 2px 2px #333;
  }

  .footer-content p {
      margin: auto;
      padding: 7px;
      text-align: center;
      color: #5d5d5d;
  }

  .footer-content ul {
      text-align: center;
  }

  .list {
      padding: 0;
  }

  .list li {
      width: auto;
      text-align: center;
      list-style-type: none;
      padding: 7px;
      position: relative;
  }

  .list li::before {
      content: '';
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 100%;
      width: 0;
      height: 2px;
      background: #f18930;
      transition-duration: 0.5s;
  }

  .list li:hover::before {
      width: 70px;
  }

  .social-icons {
      text-align: center;
      padding: 0;
      padding-bottom: 30px;
  }

  .social-icons  li {
      color: #ff3434;
      font-size: 25px;
  }

  a {
      text-decoration: none;
      color: #5d5d5d;
  }

  a:hover {
      color: #f18930;
  }

  .social-icons :hover {
      color: #f18930;
  }

  .input-field {
      display: flex;
      align-self: center;
      width: max-content;
      padding: 0 10px;
  }

  .input-field input {
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 15px;
    height: 45px;
    color: #333;
    transition: 0.3s;
    text-align: center;
  }

  .input-field button {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #333;
    border-radius: 5px;
    background-color: #4ca171;
    transition: all 0.3s linear;
    cursor: pointer;
    margin: 0 10px;
  }

  .input-field button:hover {
    background-color: #fff;
  }

  .bottom-bar {
      text-align: center;
      padding: 10px 0;
      width: 100%;
  }

  .bottom-bar p {
      color: #747474;
      margin: 0;
      font-size: 16px;
      padding: 7px;
  }