*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background-color:#001b0f;
  width: 100%;
  height: 100vh;
     line-height: 20px;
     letter-spacing: 0.6px;
     color: #fff;

}
.back{
        
    font-size: 20px;
    padding: 20px;
    left: 10px;
}

.intro-box{
    background-image: url("https://opencart.workdo.io/garden/image/cache/catalog/centerbanner/1-1920x600.jpg");
    background-size: cover;
    background-position: center();
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.intro{
    width: 100%;
    height: 30vh;
    padding: 40px 12px;
    /* position: relative; */
    display: flex;
    justify-content: center;
   align-items: center;

}
.container{
width: 500px;
height: 170px;
/* margin: 60px ; */
/* overflow-x: hidden; */
/* display: flex;
flex-direction: column;
text-align: center;
justify-content: center; */
/* position: relative; */
line-height: 40px;

}
.container h1{
    font-size: 40px;
    font-weight: 400;
    margin-top: 0;
    line-height: 60px;
    text-align: center;

}
.container h3{
    color: #B5C547;
    text-align: center;
    display: block;
    font-size: 1.5rem;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    margin-top: 50px;
    
}
.button{
    display: block;
    /* margin:auto; */
    margin-top: 200px;
    margin-bottom: 100px;

    /* position: relative; */
   /* margin-top: 30vh; */

   
}
.btn{

    

    /* margin: 50px 140px; */
        height: 50px;
        width: 180px;
       
        background-color:#B5C547;
        color: #fff;
        transition: all 0.3s ease;
        /* position: relative; */
        border-radius: 10px;
        text-transform: capitalize;
        padding: 0;
        font-size: 12px;
        font-weight: 600;
       
        
      
        box-shadow: 0px 9px 16px rgba(158, 113, 93, 0.32);
    }

    .btn:hover{
        box-shadow: 0 2px 40px rgba(246, 247, 246, 0.192);
    }
    
.btn img{
    width: 14px;
    height: 16px;
}

/* features */
#feature{
    /* width: 80%; */
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.fe-box{
   
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.fe-box:hover{
    box-shadow: 0 2px 40px rgba(246, 247, 246, 0.192);
}

.fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    background-color: #B5C547;
    color: #fff;

}
.fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
/* header categories sections */
.header{
    /* position: fixed; */
    
    width: 100%;
    padding: 20px 100px;
    background: rgba(255,255, 255, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    backdrop-filter: blur(10px);
border-bottom: 2px solid rgba(255,255,255,.2);
z-index: 100;
}



.logo{
  color: #fff;

  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.logo img{height: 25px;
width: 25px;}


.navbar a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    margin-left: 35px;
    transition: 3s;

}

.navbar.active{
    display: block;
}
.navbar a:hover{
text-decoration:underline;
}

#menu-icon{
    font-size: 30px;
    color: #fff;
display: none;
}

/* break points of category bar*/
@media(max-width:992px){
    .header{
        padding: 1.25rem 4%;
    }
}

@media(max-width:768px){
    #menu-icon{
      display: block;
    }

    .navbar{
        position: fixed;
        top:100%;
    left: 0;
    width: 100%;
    padding: .5rem 4%;
    /* background: rgba(255, 255, 255, 0.185); */
    background:#B5C547;
    border-bottom: 2px solid rgba(255,255,255,.2);
    display: none;
    backdrop-filter: blur(10px);
    }
    .navbar a{
        display: block;
        margin: 1.5rem 0;
    }
    #feature{    flex-direction: column;
        align-items: center;
    justify-content: center;
padding: 10px;
margin: 10px;}
.fe-box{
    margin: 10px;

}
    /* .navbar a */
    
}