* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #2c6018;
}

nav {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    }

.x {
    background-image: url("1.jpg");
    background-size: cover;
    display: flex;
    min-height: 50vh;
    align-items: center;
    overflow: hidden;
}

.content {
    width: 1200px;
    height: auto;
    max-width: auto;
    color: #71B139;
    position: relative;
    margin-left: 40px;
}

.content h1 {
    font-size: 120px;
    margin-top: 3%;
    letter-spacing: 1.2px;
}

.content p {
    font-size: 20px;
    margin-bottom: 5%;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: #2c6018;
    border: none;
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 15px;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: black;
    transition: 0.4s ease;
}

.about-container {
    margin: 2vh 1.5vw;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}


.about-us h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about-us h3 {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.about-us p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.social-links {
    margin-bottom: 20px;
}

.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    color: black;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
}

.social-links a:hover {
    transform: translateY(-3px);
}

.btn {
    text-decoration: none;
    color: antiquewhite;
    display: inline-block;
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: black;
    transition: all 0.4s ease;
}

*{
    margin: 0;
    padding: 0;
    /* font-family:",sans-serif; */
  }
  
  .testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color:#fff;
    text-align: center;
    background-color: #001b0f;
  }

  .testimonial:hover{
    box-shadow: 0 2px 40px rgba(246, 247, 246, 0.192);
}
  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    background: #fff;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
    color: #fff;
  }
  .stars{
    color: rgb(194, 194, 9);
    margin-bottom: 20px;
  }
  
  
  @media screen and (max-width:960px) {
  .col{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }
  }
  

.footer {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: auto;
    background-color: #2d2d2d;
}

.footer-container {
padding-top: 20px;
width: 100%;
height: auto;
margin: 0;
display: flex;
justify-content: space-between;
flex-direction: row;
}

.footer-content {
align-self: center;
align-items: center;
justify-content: center;
width: 30%;
color: #fff;
}

.footer-content h3 {
font-size: 1rem;
margin-bottom: 15px;
text-align: center;
color: #939393;
text-shadow: 2px 2px 2px #333;
}

.footer-content p {
margin: auto;
padding: 0.5rem;
text-align: center;
}

.footer-content ul {
text-align: center;
}

.list {
padding: 0;
}

.list li {
width: auto;
text-align: center;
list-style-type: none;
padding: 7px;
position: relative;
}

.list li::before {
content: '';
position: absolute;
transform: translate(-50%, -50%);
left: 50%;
top: 100%;
width: 0;
height: 2px;
background: #f18930;
transition-duration: 0.5s;
}

.list li:hover::before {
width: 70px;
}

.social-icons {
text-align: center;
padding: 0;
padding-bottom: 30px;
}

.social-icons  li {
color: #ff3434;
font-size: 25px;
}

a {
text-decoration: none;
color: #fff;
}

a:hover {
color: #f18930;
}

.social-icons :hover {
color: #f18930;
}

.input-field {
display: flex;
align-self: center;
width: max-content;
padding: 0;
}

.input-field input {
outline: none;
border: 1px solid #aaa;
border-radius: 5px;
font-size: 14px;
font-weight: 400;
margin: 0;
height: 45px;
color: #333;
transition: 0.3s;
text-align: center;
}

.input-field button {
display: flex;
align-items: center;
justify-content: center;
justify-self: center;
height: 45px;
max-width: 200px;
width: 100%;
font-size: 16px;
font-weight: 400;
border: none;
outline: none;
color: #bdbdbd;
border-radius: 5px;
background-color: #000000;
transition: all 0.3s linear;
cursor: pointer;
margin: 0 10px;
}

.input-field button:hover {
background-color: #fff;
}

.bottom-bar {
text-align: center;
padding: 10px 0;
width: 100%;
}

.bottom-bar p {
color: #e3e3e3;
margin: 0;
font-size: 16px;
padding: 7px;
}

@media screen and (max-width:1200px){
    .content{
        width: 100%;
    }
    .content h1{
        font-size: 6.5vw;
    }
    .content p{
        width: 90%;
        font-size: 2vw;
    }
    .btn{
        width: 20%;
        height: 3.5vw;
        font-size: 1.8vw;
    }
    .content a{
        font-size: 1.6vw;
    }
}