*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #001b0f;
    height: auto;
    width: 100%;
}

nav {
    background: rgba(225, 225, 225, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.navbar img {
    height: 40px;
}

.strip{
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0;
    width: 100%;
    margin-bottom: 3%;
    align-items: center;
}

.text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;  
}

.text h1{
    color: rgb(129, 172, 55);
    font-size: 54px;
    margin-bottom: 25px;
}

.text p{
    color: white;
    font-size: 25px;
    line-height: 1.5;
}

.x{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 85%;
}

.card {
    width: 250px;
    height: 360px;
    padding: 2rem 1.5rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(20px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover::before {
    opacity: 1;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.info h1{
    margin: 0;
}

.info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.footer {
    padding: 30px;
    background: rgba(225, 225, 225, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin: 30px;
}

.footer-container {
padding-top: 20px;
width: 100%;
height: auto;
margin: 0;
display: flex;
justify-content: space-evenly;
flex-direction: row;
}

.footer-content {
align-self: center;
align-items: center;
justify-content: center;
width: 50%;
color: #fff;
}

.footer-content h3 {
font-size: 1rem;
margin-bottom: 15px;
text-align: center;
color: #939393;
text-shadow: 2px 2px 2px #333;
}

.footer-content p {
margin: auto;
padding: 0.5rem;
text-align: center;
}

.footer-content ul {
text-align: center;
}

.list {
padding: 0;
}

.list li {
width: auto;
text-align: center;
list-style-type: none;
padding: 7px;
position: relative;
}

.list li::before {
content: '';
position: absolute;
transform: translate(-50%, -50%);
left: 50%;
top: 100%;
width: 0;
height: 2px;
background: #f18930;
transition-duration: 0.5s;
}

.list li:hover::before {
width: 70px;
}

.social-icons {
text-align: center;
padding: 0;
padding-bottom: 30px;
}

.social-icons  li {
color: #ff3434;
font-size: 25px;
}

a {
text-decoration: none;
color: #fff;
}

a:hover {
color: #f18930;
}

.social-icons :hover {
color: #f18930;
}

.bottom-bar {
text-align: center;
padding: 10px 0;
width: 100%;
}

.bottom-bar p {
color: #e3e3e3;
margin: 0;
font-size: 16px;
padding: 7px;
}

@media screen and (max-width: 1300px) {
    .card{
        width: 230px;
        height: 320px
    }
}
@media screen and (max-width: 1100px) {
    .card{
        width: 185px;
        height: 300px;
    }
    .info h1{
        font-size: 25px;
    }
    .info p{
        font-size: 12px;
    }
    .btn{
        font-size: 8px;
    }
}
@media screen and (max-width: 900px) {
    .card{
        width: 160px;
        height: 220px;
    }
    .info h1{
        font-size: 15px;
    }
    .info p{
        font-size: 7px;
    }
    .btn{
        font-size: 8px;
    }
}
@media screen and (max-width: 800px) {
    .card{
        width: 140px;
        height: 220px;
    }
}
@media screen and (max-width: 700px) {
    .card{
        width: 85%;
        height: 180px;
    }
    .wrapper{
        flex-direction: column;
    }
    .card{
        margin-bottom: 8%;
    }
    .info h1{
        font-size: 18px;
    }
    .info p{
        font-size: 8px;
    }
    .btn{
        font-size: 8px;
    }
}
