*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}

body{
    /* background-color: #70ced0; */
    
     background-image: url("bg.png");
     background-size: cover;
     background-position: center center; 
    /* position: relative; */
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
width: 400px;
height: auto;
background-color:transparent;
color: #00743F;
/* border-radius: 10px; */
padding: 20px;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.heading{
    /* opacity: 0; */
    color: white;

    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
      

}

input,
.submit-btn{
    /* opacity: 0; */
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: #034125;;
    border: none;
    color: #fff;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;

}

input::placeholder{
    color: #fff;

}

input:focus,
.submit-btn:hover{
    background: #00743F;
    
    color:#fff;

}

input:focus::placeholder{
    color: #000;

}

.submit-btn{
    /* opacity: 0; */
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
    
}

.link{
    /* opacity: 0; */

    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 30px auto;
   

}

.link:hover{
color:#0af78c

}

.alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgba(68, 67, 67, 0.822);
    border-top:10px solid rgba(24, 23, 23, 0.822);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    text-align: center;
    transition: 1s;
    
}

.navbar {
    position: absolute;
    width: 100%;
    padding: 10px;
    left: 0;
    top: 0;
    border: none;
  }

  .navbar-brand {
    padding-left: 50px;
  }

  nav {
  background: rgba(225, 225, 225, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 56px;
}

.navbar img {
    height: 40px;
}

  .back-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #4ca171;
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 1000;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.4)); /* Apply shadow effect to the icon on hover */
  }

  .back-button:hover {
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.4)); /* Apply shadow effect to the icon on hover */
  }