*{
    margin: 0%;
    padding: 0%;
}
/*  article head*/
.header-img{
    height: 400px;
    width: 100%;
}
body{
    background-color: #001b0f;
}
/* Article Filter */
.article-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2rem 0;
    column-gap: 2rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.active-filter {
    background: var(--bg2-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 5px;
}

.filter-item {
    font-size: 1.3rem;
    font-weight: 900;
    cursor: pointer;
}
/* Article content */
.article-content{
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    width: 85%;
    line-height: 1.567;
}
.content{
   font-size: 1.5rem;
}
